<body>
  <div class="container">
    <div class="about">
      About
    </div>
    <div class="who-am-i">
      WHO AM I?
    </div>
    <div class="who-am-i-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis illum excepturi ipsam aliquid, reprehenderit possimus! Consectetur harum iure rem accusamus voluptatem, perspiciatis eaque dolores eos omnis ullam ex necessitatibus similique rerum, minus obcaecati asperiores earum inventore qui quos! Odio suscipit, aliquam esse architecto voluptatibus neque totam, laboriosam cum maxime facere quo repellat dolores. Assumenda dolorem nisi minima recusandae doloremque accusantium, dolore exercitationem veniam esse ipsum quibusdam architecto maiores aperiam velit a explicabo at, sint provident beatae veritatis. Maxime, modi ducimus vel dicta quidem quis vitae impedit accusamus eius sed atque esse, neque ratione aspernatur laudantium harum sapiente error amet voluptate.
    </div>
  </div>

</body>
