<body>
  <div class="container">
    <section class="left-container">
      <div class="dp"></div>
      <div class="profession">Software Engineer</div>
      <button class="routing-buttons" *ngFor="let list of listofbuttons" (click)="navigationCall(list)">
        {{list}}
      </button>
    </section>
    <section class="right-container">
      <app-home       *ngIf="state==listofbuttons[0]"></app-home>
      <app-about      *ngIf="state==listofbuttons[1]"></app-about>
      <app-skills     *ngIf="state==listofbuttons[2]"></app-skills>
      <app-languages  *ngIf="state==listofbuttons[3]"></app-languages>
      <app-projects   *ngIf="state==listofbuttons[4]"></app-projects>
      <app-education  *ngIf="state==listofbuttons[5]"></app-education>
      <app-experience *ngIf="state==listofbuttons[6]"></app-experience>
      <app-contact    *ngIf="state==listofbuttons[7]"></app-contact>

    </section>
  </div>

</body>

<router-outlet></router-outlet>
